.footer {
    background-color: #123557;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    min-width: 900px;
    height: 250px;
}

.footer-line,
.footer-bottom {
    border: none;
    height: 1px;
    background-color: white;
    margin: 20px 0;
    width: 90%;
    margin-left: 5%; /* Adjust margin as needed */
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo {
    max-width: 150px; /* Adjust size as needed */
    margin-bottom: 10px;
    margin-left: 80px;
}

.circle-icon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px; /* Size of the circle */
    height: 32px; /* Size of the circle */
    border: 2px solid white; /* Border color and thickness */
    border-radius: 50%; /* Make it circular */
}

.footer-text {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust spacing as needed */
    margin-left: 60px;
}

.footer-text1 {
    display: flex;
    align-items: center;
    gap: 15px; /* Reduce the gap as needed */
    justify-content: flex-start; /* Align items to the left */
    margin-left: 0; /* Remove extra margin */
    padding-left: 0; /* Remove padding left */
    margin-right:150px;
}

.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px; /* Size of the circle */
    height: 32px; /* Size of the circle */
    border: 2px solid white; /* Border color and thickness */
    border-radius: 50%; /* Make it circular */
    margin: 0 5px; /* Adjust horizontal margins to reduce gap */
}

.social-icon {
    color: white;
    font-size: 1.2rem; /* Adjust icon size */
}

/* Social icons hover effect */
.social-icon:hover {
    color: #ccc;
}

.footer-section {
    flex: 1;
    min-width: 20px;
    margin: 5px 10px; /* Adjust vertical and horizontal margins */
    margin-top: -20px;
    gap: 10px;
    margin-left: -100px;
}

.footer-section h3 {
    font-size: 18px; /* Adjust heading size as needed */
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 1rem; /* Adjust paragraph size as needed */
    margin-bottom: 5px;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}
