.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: -20px;
  }
  
  .navbar-logo img {
    height: 100px; /* Adjust the size of the logo as needed */
    margin-left: 30px;
    margin-top: -16px;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    background-color: white;
    padding: 10px 15px;
    font-family: 'Roboto';
  }
  .nav-link1{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    background-color: white;
    padding: 10px 15px;
    font-family: 'Roboto';
    margin-top: -8px;

    
  }
  
  .nav-dropdown {
    display: flex;
    align-items: center;
    /* margin-top: -10px; */
    /* font-size: 20px; */
  }
  .dropdown-icon{
    font-size: 20px; 
    /* margin-top: 20px; */
  }
  
  .login-button {
    margin-right: 60px;
    background-color: white;
    color: green;
    border: 2px solid green;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;

  }
  
  .login-button:hover {
    background-color: green;
    color: white;
  }
  .dropdown-arrow {
    font-size: 1.5rem; /* Adjust this value to increase the size */
    /* margin-bottom: 20px; */
}
  